.contact
    width: 100%
    padding: 3rem 0
    background: $black
.contact-wrapper
    display: flex
    flex-direction: row 
    justify-content: space-between
.contact-info
    width: 40%
    height: 400px
    padding: 0 1rem
    border: 1px solid red 
    h5 
        margin: 0
.contact-form
    width: 60%
    height: 400px
    border: 1px solid red 