.team
    width: 100%
    background: $mainColor
    text-align: center
    .section-title
        color: $white
        &::after
            background: $black
.team-wrapper
    display: flex
    width: 100%
    flex-direction: row
.team-hero
    height: 400px
    width: 100%
    overflow: hidden
    display: inline-block
    min-width: 0%
    flex: 1 
    z-index: 10
    position: relative
    background-position: center
    background-repeat: no-repeat
    cursor: pointer
.hero-position__wrapper,
.hero-name__wrapper
    color: $black
    position: absolute
    top: 50%
    overflow: hidden
    transform: translateY(-50%)
.hero-position__wrapper
    right: 15%
.hero-name__wrapper
    left: 15%
.hero-info
    margin: 0
    transition: all 1s ease-in-out
    transform: translateY(101%)
@media screen and (max-width: 750px)
    .hero-position__wrapper,
    .hero-name__wrapper
        left: 50%
        right: auto 
        transform: translateX(-50%)
    .hero-position__wrapper
        top: 58%

    



