.team
    //height: 100vh
    width: 100%
    background: $mainColor
    padding: 5rem
    text-align: center
    .section-title
        color: $white
        &::after
            background: $black
.heroes
    width: 100%
    height: 100%
    border: 1px solid red 
    margin-top: 2.5rem
.row
    display: flex
    flex-direction: row 
    justify-content: space-between
    flex-wrap: wrap
.groupe-member
    width: 100%
    display: flex
    border: 1px solid black